/* Icône du bouton TinyMCE */
i.mce-i-kcc_clean_icon {
    background-image: url('cleancodespray.png');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 20px !important;
    height: 20px !important;
}